@text-grey: #AFAEAE;
@header-grey: #F5F5F5;
@light-green: #9ac356;
@mid-green: #61802E;
@dark-green: #3A681A;
@transparent: #FFFFFF00;
@black: #000000;
@white: #FFFFFF;
@primary-color: @light-green;
@text-selection-bg: #0020ff60;
@body-background: @white;
@component-background: @white;
@primary-5: @white; // text and border color for active buttons
@item-active-bg: @white;
@font-family: 'IBM Plex Sans', sans-serif;
@heading-color: @mid-green;
@heading-color-secondary: @dark-green;
@text-color: @black;
@text-color-secondary: @mid-green;
@link-color: @mid-green;
@border-color-base: @white;
@line-height-base: 2.15;
@font-size-base: 13px;
@font-weight-base: 400;
@layout-header-background: @header-grey;
@layout-body-background: @body-background;
@layout-header-color: @black;
@btn-primary-bg: @light-green;
@input-hover-border-color: @light-green;
@border-radius-base: 4px;
@pagination-item-bg-active: @light-green;
@pagination-item-input-bg: @component-background;
@collapse-content-bg: @transparent;
@tabs-highlight-color: @light-green;
@carousel-dot-height: 10px;
@carousel-dot-width: 50px;
