.accordion__section {
    display: flex;
    flex-direction: column;
}

.accordion {
    background-color: #61802e;
    padding: 5px;
    border: none;
    outline: none;
    transition: background-color 0.4s ease;
}

.rotate {
    transform: rotate(180deg);
}

.accordion__content {
    overflow: auto;
    transition: max-height 0.4s ease;
}

.accordion__text {
    padding: 18px;
    height: 40vh;
}
