.body-content-container {
  font-family: Circular, 'Circular', sans-serif;
  position: fixed;
  padding: 8%;
  height: 100%;
  width: 100%;
  background: @white;
  overflow: auto;
}

hr {
  display: block;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 7%;
  border-top: 1.58px solid @white;
}

.leftInput {
  margin-top: 0px;
  margin-right: 25px;
  margin-bottom: -10px;
}
